# core library requirements
pip>=21
pandas>=2.1.4
pandasql~=0.7.3
tabulate>=0.8.7
numpy>=1.26.2
scipy>=1.11.4
tqdm>=4.51.0
numba
holidays
pre-commit>=2.6.0
flake8>=3.7.8
gitlint>=0.12.0
jupyter>=1.0.0
jupytext>=1.3.3
nbval>=0.9.3
pre-commit-hooks>=2.3.0
pytest>=5.2.0
pytest-cov>=2.8.1

# data connections
PyYAML>=5.3.1
pyodbc>=4.0.30
openpyxl
xlsxwriter

# data analysis
pandas_profiling>=2.10
seaborn
matplotlib
plotly>=4.14

# Graphs
networkx

# Mapping
shapely
geopandas
folium
mapclassify

# Statistics & machine learning
statsmodels
scikit-learn

# Optimization
gurobipy
ortools
PuLP
cplex

# Simulation
simpy

# Web
Flask