# core library requirements
pip
pandas
pandasql
tabulate
numpy
scipy
tqdm
numba
holidays
pre-commit
flake8
gitlint
jupyter
jupytext
nbval
pre-commit-hooks
pytest
pytest-cov

# data connections
PyYAML
pyodbc
openpyxl
xlsxwriter

# data analysis / processing
pandas_profiling
seaborn
matplotlib
plotly
pyspark

# Graphs
networkx

# Mapping
shapely
geopandas
folium
mapclassify

# Statistics & machine learning
statsmodels
scikit-learn

# Optimization
gurobipy
ortools
PuLP
# cplex
gekko

# Simulation
simpy

# Web
Flask
pydantic
