# core library requirements
pip>=21
pandas
pandas_profiling>=2.10
pandasql
tabulate>=0.8.7
numpy
tqdm>=4.51.0

seaborn
matplotlib
plotly>=4.14

PyYAML>=5.3.1
pyodbc>=4.0.30
openpyxl

pre-commit>=2.6.0
flake8>=3.7.8
gitlint>=0.12.0
jupyter>=1.0.0
jupytext>=1.3.3
nbval>=0.9.3
pre-commit-hooks>=2.3.0
pytest>=5.2.0
pytest-cov>=2.8.1

scikit-learn


gurobipy
numba
holidays
simpy
scipy